[mysqld]
max_allowed_packet=200M
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server = utf8mb4

# Performance
innodb_log_file_size=1G
innodb_buffer_pool_size=16G
innodb_file_per_table=ON
innodb_flush_method=O_DIRECT
skip-name-resolve

thread_cache_size=32
tmp_table_size=64M

max_connections=505
max_user_connections=500

# experiment with type=0 size=0
query_cache_type=1
query_cache_size=50M
query_cache_limit=512k

# Logging
log_warnings = 2
log_error = /var/log/mysql/error.log

expire_logs_days = 10
max_binlog_size = 100M
